<div>
    <h2 id="page-heading">
        <span>Item Property Bools</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item-property-bool" [routerLink]="['/item-property-bool/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Item Property Bool
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="itemPropertyBools">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value"><span>Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="itemName"><span>Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="propertyName"><span>Property</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let itemPropertyBool of itemPropertyBools ;trackBy: trackId">
                <td><a [routerLink]="['/item-property-bool', itemPropertyBool.id, 'view' ]">{{itemPropertyBool.id}}</a></td>
                <td>{{itemPropertyBool.value}}</td>
                <td>
                    <div *ngIf="itemPropertyBool.itemId">
                        <a [routerLink]="['../item', itemPropertyBool.itemId , 'view' ]" >{{itemPropertyBool.itemName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="itemPropertyBool.propertyId">
                        <a [routerLink]="['../property', itemPropertyBool.propertyId , 'view' ]" >{{itemPropertyBool.propertyName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/item-property-bool', itemPropertyBool.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/item-property-bool', itemPropertyBool.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'item-property-bool', { outlets: { popup: itemPropertyBool.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
