<div>
    <h2 id="page-heading">
        <span>Operations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-operation" [routerLink]="['/operation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Operation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="operations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span>Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="state"><span>State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderDate"><span>Order Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="approveDate"><span>Approve Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deliveryDate"><span>Delivery Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customerId"><span>Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sellerId"><span>Seller</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="curierId"><span>Curier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="itemName"><span>Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let operation of operations ;trackBy: trackId">
                <td><a [routerLink]="['/operation', operation.id, 'view' ]">{{operation.id}}</a></td>
                <td>{{operation.type}}</td>
                <td>{{operation.state}}</td>
                <td>{{operation.description}}</td>
                <td>{{operation.orderDate | date:'mediumDate'}}</td>
                <td>{{operation.approveDate | date:'mediumDate'}}</td>
                <td>{{operation.deliveryDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="operation.customerId">
                        <a [routerLink]="['../profile', operation.customerId , 'view' ]" >{{operation.customerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="operation.sellerId">
                        <a [routerLink]="['../profile', operation.sellerId , 'view' ]" >{{operation.sellerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="operation.curierId">
                        <a [routerLink]="['../profile', operation.curierId , 'view' ]" >{{operation.curierId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="operation.itemId">
                        <a [routerLink]="['../item', operation.itemId , 'view' ]" >{{operation.itemName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/operation', operation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/operation', operation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'operation', { outlets: { popup: operation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
