<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-passport-heading">Create or edit a Passport</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!passport.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="passport.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                        [(ngModel)]="passport.firstName" required minlength="1" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.firstName?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.firstName?.errors?.minlength">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.firstName?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="passport.lastName" required minlength="1" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastName?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastName?.errors?.minlength">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastName?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_patronymic">Patronymic</label>
                    <input type="text" class="form-control" name="patronymic" id="field_patronymic"
                        [(ngModel)]="passport.patronymic" minlength="1" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.patronymic?.dirty && editForm.controls.patronymic?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.patronymic?.errors?.minlength">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.patronymic?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dob">Dob</label>
                    <div class="input-group">
                        <input id="field_dob" type="text" class="form-control" name="dob" ngbDatepicker  #dobDp="ngbDatepicker" [(ngModel)]="passport.dob"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dobDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_serialNumber">Serial Number</label>
                    <input type="text" class="form-control" name="serialNumber" id="field_serialNumber"
                        [(ngModel)]="passport.serialNumber" required minlength="1" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.serialNumber?.dirty && editForm.controls.serialNumber?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.serialNumber?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.serialNumber?.errors?.minlength">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.serialNumber?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_taxId">Tax Id</label>
                    <input type="text" class="form-control" name="taxId" id="field_taxId"
                        [(ngModel)]="passport.taxId" required minlength="1" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.taxId?.dirty && editForm.controls.taxId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.taxId?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.taxId?.errors?.minlength">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.taxId?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                        [(ngModel)]="passport.active" />
                    <div [hidden]="!(editForm.controls.active?.dirty && editForm.controls.active?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.active?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
