<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="passport">
            <h2><span>Passport</span> {{passport.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{passport.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{passport.lastName}}</span>
                </dd>
                <dt><span>Patronymic</span></dt>
                <dd>
                    <span>{{passport.patronymic}}</span>
                </dd>
                <dt><span>Dob</span></dt>
                <dd>
                    <span>{{passport.dob}}</span>
                </dd>
                <dt><span>Serial Number</span></dt>
                <dd>
                    <span>{{passport.serialNumber}}</span>
                </dd>
                <dt><span>Tax Id</span></dt>
                <dd>
                    <span>{{passport.taxId}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{passport.active}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/passport', passport.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
