<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profile">
            <h2><span>Profile</span> {{profile.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{profile.phone}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{profile.active}}</span>
                </dd>
                <dt><span>Position</span></dt>
                <dd>
                    <div *ngIf="profile.positionId">
                        <a [routerLink]="['/position', profile.positionId, 'view']">{{profile.positionName}}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{profile.userLogin}}
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <div *ngIf="profile.addressId">
                        <a [routerLink]="['/address', profile.addressId, 'view']">{{profile.addressStreet}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profile', profile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
